<ion-header>
  <ion-toolbar>
    <ion-title>
      Configuración
    </ion-title>
    <ion-button routerLink="/tabs" expand="block" shape="round">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content >
  <div align="center">
    <ion-avatar>
      <img src="assets/icon/woman.png"/>
    </ion-avatar>
    <ion-label color="primary">Rocio Alvarez</ion-label>
  </div>
  <ion-list>
    <ion-item lines="full">
      <ion-icon slot="start" name="notifications-outline"></ion-icon>
      <ion-label>
        Notificaciones
      </ion-label>
      <ion-toggle slot="end" [checked]="true"></ion-toggle>
    </ion-item>

    <ion-item lines="full">
      <ion-icon slot="start" name="finger-print-outline"></ion-icon>
      <ion-label>
        bloqueo de pantalla Tactil
      </ion-label>
      <ion-toggle slot="end" [checked]="true"></ion-toggle>
    </ion-item>

    <ion-item line="full" detail>
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label>
        Contraseña
      </ion-label>
    </ion-item>

    <ion-item line="full" detail>
      <ion-icon slot="start" name="help-buoy-outline"></ion-icon>
      <ion-label>
        Apoyo
      </ion-label>
    </ion-item>

  </ion-list>
</ion-content>
