<ion-header>
  <ion-toolbar>
    <ion-title>
      Transferencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- Modal Content -->
<ion-content>
  <ion-list>
  <!-- Detalles del contacto -->
    <ion-item>
      <ion-label>
        <h2>{{ contacto?.name }}</h2>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <p>{{ contacto?.banco }}</p>
      </ion-label>
    </ion-item>
    
    <!-- Saldo actual -->
    <ion-item>
      <ion-label>Saldo Actual: $ {{ saldo }}</ion-label>
    </ion-item>

    <!-- Input para ingresar monto a transferir -->
    <ion-item>
      <ion-label position="floating">Monto a transferir</ion-label>
      <ion-input type="number" [(ngModel)]="montoTransferir"></ion-input>
    </ion-item>

  </ion-list>

  <!-- Botones para confirmar o cancelar la transferencia -->

  <ion-row>
    <ion-col>
      <ion-button expand="full" color="medium" (click)="cancelar()">Cancelar</ion-button>
    </ion-col>
    <ion-col>
      <ion-button expand="full" (click)="confirmar()" [disabled]="!montoTransferir">Confirmar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
