<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="src/app/pages/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Sacar efectivo
    </ion-title>
  </ion-toolbar>
</ion-header>
<div class="text">
  <p>Aqui puedes ver los cajeros mas cercanos.</p>
</div>
<ion-content class="mapa-content">
  <iframe
    width="100%"
    height="780px"
    frameborder="0"
    style="border:10px"
    src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14488.187660582898!2d-65.41542405!3d-24.793847!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scajeros%20autom%C3%A1ticos!5e0!3m2!1ses-419!2sar!4v1700624887295!5m2!1ses-419!2sar"
    allowfullscreen
  ></iframe>
</ion-content>
