/* sacar.component.scss */

// ion-header {
    // position: fixed;
    // top: 0;
    // width: 100%;
    // z-index: 1000;
//   }

  /* Ajusta el contenido para ocupar toda la altura */
  .text {
    text-align: center;
    background: grey;
    color:black;
  }
  .mapa-content {
    height: 10%;
  }
  