<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="src/app/pages/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transferencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-justify-content-center">
    <div class="boton-add">
      <ion-button (click)="accionDelBoton()">
        <img src="assets/icon/plus.png">
        <ion-label>Nueva</ion-label>
      </ion-button>
    </div>
  </div>

</ion-content>
