<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="src/app/pages/tabs/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Transferencia
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-justify-content-center">
    <div class="boton-add">
      <ion-button>
        <img src="assets/icon/plus.png">
        <ion-label>Agregar nuevo</ion-label>
      </ion-button>
    </div>
  </div>
  <div class="favorite">
    <ion-item>
      <ion-label>
        <h2>Favoritos</h2>
      </ion-label>
    </ion-item>
  </div>
      <!-- iconos -->
      <div class="swiper-container" #swiperContainer>
        <div class="swiper-wrapper">
          <ng-container *ngFor="let contacto of contact">
            <div class="swiper-slide" *ngIf="contacto.id <= 5">            
              <ion-button [color]="contacto.color" class="rounded-button" (click)="navigateToTransferenciaModal()">
                <img src="{{ contacto.image }}" alt="{{ contacto.name }}-image" class="icon-image">
              </ion-button>
              <ion-label button-label>{{ contacto.name }}</ion-label>
            </div>
            <div *ngIf="selectedContact">
              
            </div>
          </ng-container>
        </div>
        <div class="swiper-pagination"></div>
      </div>
      <div>
      
      <ion-item>
        <ion-label>
          <h2>Contactos</h2>
        </ion-label>
      </ion-item>
    </div>
    <ion-content>
      <ion-list>
        <ion-item-sliding *ngFor="let contacto of contact.slice(6, 10)">
          <ion-item button (click)="navigateToTransferenciaModal()">
            <img src="{{ contacto.image }}" alt="{{ contacto.name }}-image" class="avatar">
            <ion-label>
              <h3>{{ contacto.name }}</h3>
              <p>{{ contacto.banco }}</p>
            </ion-label>
          </ion-item>
        </ion-item-sliding>
      </ion-list>
    </ion-content>
</ion-content>

