<ion-header>
  <ion-toolbar>
    <ion-title mode="md" class="ion-no-padding">
      <ion-label>
        <ion-text>Rocio Alvarez</ion-text>
      </ion-label>
    </ion-title>
      <ion-avatar slot="end">
        <img src="assets/icon/woman.png" alt="img.Rocio">
      </ion-avatar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="light">
  <div class="main-header">
    <ion-card class="ion-activatable ripple-parent rectangle">
      <ion-ripple-effect></ion-ripple-effect>
        <ion-card-header>
          <ion-card-title>Saldo
            <p>$ {{ saldo }}</p>
          </ion-card-title>
        </ion-card-header>
    </ion-card>
  </div>

  <ion-row class="ion-text-center option-list" *ngIf="options && options.length > 0">
    <ng-template *ngFor="let option of options | keyvalue">
      <div>
        <ion-button slot="icon-only" [color]="option.value?.color">
          <ion-icon [name]="option.value?.icon"></ion-icon>
        </ion-button>
        <ion-label>{{option.value?.name}}</ion-label>
      </div>
    </ng-template>
  </ion-row>
  
  

</ion-content>
