  .container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
  }
   
    form {
      background-color: aquamarine;
      border: 1px solid black;
      width: 22rem;
      height: 20rem;
      margin: 20px;
      padding: 20px;
      border-radius: 5%;

    }